@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --purple: rgba(173, 0, 255, 1);
    --pink: rgba(255, 0, 243, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.thedarkcolour-color {
    background: linear-gradient(var(--pink), 30%, var(--purple), var(--purple));
    color: transparent;
    background-clip: text;
    font-size: 108px;
    font-family: sans-serif;
}

.animate-mods {
    animation: slide 10s infinite;
}
.animate-mods>a {
    padding-bottom: 0.5em;
}

@keyframes slide {
    0%, 20% {
        margin-top: 0;
    }
    25%, 45% {
        margin-top: -2em;
    }
    50%, 70% {
        margin-top: -4em;
    }
    75%, 95% {
        margin-top: -6em;
    }
    100% {
        margin-top: -8em;
    }
}

.creator-label {
    max-height: 24px;
}
